<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Daroochi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dosis:400,600&amp;display=swap'>
  <link rel="stylesheet" href='/stylesheets/style.css'">

</head>
<body>
<div class="preloader">
  <div class="preloader__ring">
    <div class="preloader__sector">D</div>
    <div class="preloader__sector">a</div>
    <div class="preloader__sector">r</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">c</div>
    <div class="preloader__sector">h</div>
    <div class="preloader__sector">i</div>
    <div class="preloader__sector">.</div>
    <div class="preloader__sector">i</div>
    <div class="preloader__sector">r</div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
  </div>
  <div class="preloader__ring">
    <div class="preloader__sector">C</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">m</div>
    <div class="preloader__sector">i</div>
    <div class="preloader__sector">n</div>
    <div class="preloader__sector">g</div>
    <div class="preloader__sector">-</div>
    <div class="preloader__sector">S</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">n</div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
  </div>
  <div class="preloader__ring">
    <div class="preloader__sector">i</div>
    <div class="preloader__sector">n</div>
    <div class="preloader__sector">s</div>
    <div class="preloader__sector">t</div>
    <div class="preloader__sector">a</div>
    <div class="preloader__sector">:</div>
    <div class="preloader__sector">d</div>
    <div class="preloader__sector">a</div>
    <div class="preloader__sector">r</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">o</div>
    <div class="preloader__sector">c</div>
    <div class="preloader__sector">h</div>
    <div class="preloader__sector">i</div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
    <div class="preloader__sector"></div>
  </div>
</div>
  
</body>
</html>
